/*h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

p {
	margin: 0 0 1em 0;
	font-size: 93%;
	line-height: 1.5em;
	font-family: "Helvetica Neue"
}*/

body {
	font-family: Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	width:100%;
	min-width:100%;
	height: auto;
	overflow:auto;
	min-height: 500px;
 	border-style: solid;
 	border-width: 10px;
 	border-color: green;


}

img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px 0;
}

/*div.section-inner {
	max-width: 90%;
	padding: 0 25px;
	margin: 0 auto;

}
*/

div.header {
	background-color: #E9E9E9;
	padding: 40px 0;
}

.nav {
	background-color: #E9E9E9;
}

div.nav ul {
	margin: 0;
	padding: 0;
}

div.nav ul li {
	list-style: none;
	float: left;
	font-size: 93%;
}

div.nav ul li a:link,
div.nav ul li a:visited {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: #000;
	border-right: 1px solid #bababa;
}

div.body-content {
	padding: 50px 0;
	background-color: #FFF; 

}

div.thirds {
	padding-bottom: 50px;
}

div.one-third {
	width: 30%;
	float: left;
	margin-right: 5%;


}


div.one-third-last {
	margin: 0;
}

div.twenty-percent {
	width: 20%;
	float:left;
	margin-right: 5%;

}
div.eighty-percent{
	width :75%;
	float:left;

}

div.main {
	width: 65%;
	float: left;
	margin-right: 5%;
}

div.side {
	width: 30%;
	float: left;
}

div.info-box-a {
	background-color: #9bdaef;
	padding: 20px;
	font-size: 13px;
	margin: 0 0 15px 0;
}

div.info-box-b {
	background-color: #efdb7f;
	padding: 20px;
	font-size: 13px;
	margin: 0 0 15px 0;
}

.footer {
   height: 5em;
   position: relative;
   background-color: gray;
}

.footer p {
	font-size:20px;
	color:white;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.fixed-bg {
  background-image: url("../img/city1.jpg");
  width: 100%;
  height: auto;
  min-height: 600px;
  background-position: center; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.desk-photo {
	width:100%;


}
.cover-text {
  color: white;
  padding-left: 100px;
  padding-top: 100px;
  font-family:  ;
  min-height: 200px;
  min-width: 400px;
}
.cover-text p{

	font-size:20px;
}

.cover-text h1{

	font-size:40px;
}

.icon {
	display: block;
  	height:30%;
  	width:30%;
  	margin-left: auto;
  	margin-right: auto;
}


.icon2 {
	display: block;
	height:70%;
  	width:70%;
	margin-left: auto;
	margin-right: auto;



}
.timeline-icons {
	display:block;
	height: 64px;
	width: 64px;
	float:left;
	clear:both;

}


.timeline-txt {
	float:left;
	display:table;
	min-height:64px;
	width: calc(100% - 100px);


}

.timeline-txt p {
  display: table-cell; 
  vertical-align: middle; 
}




.custom-row{

  	height:30%;
  	width:70%;
  	margin-left: auto;
  	margin-right: auto;
  	padding-bottom:50px;
	clear:both;
	overflow: auto;
	border-style: solid;
	border-width: 5px;
	border-color: red;
	}

.custom-row2{

	padding-top:2%;
	padding-bottom: 2%;
	padding-left: 10%;
	padding-right: 10%;
	border-style: solid;
	border-width: 5px;
	border-color: blue;

	}


.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


#outside{
	
	background-color: green;
	opacity: 0.5;

}

.title{
	
	padding-top: 50px;
	text-align: center;
	font-size:60px;
	padding-bottom: 100px;
	font-family: "Helvetica Neue";

}

.align-center{


	text-align: center;

}

.icon-title{
	font-size:35px;




}

.icon-text{
	font-size:18px;


}

.hideme
{
    opacity:0;
}