.cover-text {
  color: white;
  padding-left: 50px;
  padding-top: 100px;
  min-height: 200px;
  min-width: 400px;
}

.cover-text p{
  font-size:15px;
}

.cover-text h1{
  font-size:40px;
}

.title {
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  margin: 0 ;
  font-size: 30px ;
}

div.one-third {
	width: 47.5%;
}

div.one-third-second {
	margin: 0;
}

div.one-third-last {
	clear: both;
	float: none;
	width: auto;
	padding: 20px 0 0 0;
}

div.twenty-percent {
	width: 40%;
	float:left;
/*	border-style: solid;
    border-width: 5px;
    border-color: green;*/

}
div.eighty-percent{
	width :50%;
	float:left;
/*	border-style: solid;
    border-width: 5px;
    border-color: purple;*/
}

div.fifty-percent {
  width: 100%;
  float:left;
  /*margin-right: 5%;*/

}
div.fifty-percent2 {
  width :100%;
  float:left;

}

div.fourty-percent {
  width: 100%;
  float:left;
  margin-right: 0%;

}
div.sixty-percent{
  width :100%;
  float:left;

}


div.nav ul li {
	width: 25%;
	border-bottom: 1px solid #bababa;
}
.custom-row{

  height:auto%;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom:50px;
  clear:both;
  overflow: auto;

  }
.custom-row2{
      overflow: auto;
  }

@media screen and (max-width: 620px) {
	
	div.nav ul li {
		width: 33%;
	}



	div.twenty-percent {
		width: 100%;
		float:left;
	/*	border-style: solid;
	    border-width: 5px;
	    border-color: green;*/

	}
	div.eighty-percent{
		width :100%;
		float:left;
	/*	border-style: solid;
	    border-width: 5px;
	    border-color: purple;*/
	}

	.icon2 {
		display: block;
		height:50%;
		width:50%;
		margin-left: auto;
		margin-right: auto;

}


@media screen and (max-width: 500px) {
	
.cover-text p{

  font-size:10px;
}

.cover-text h1{

  font-size:20px;
}
section {
	height:500%;
	min-height: 0px!important;
	width: 100%!important;
 	clear:both!important;
}

.fixed-bg {
  min-height: 200px;
  content:url("../img/city4.jpg");
}

.cover-text {
  color: white;
  padding-left: 100px;
  padding-top: 100px;
  min-height: 200px;
  min-width: 400px;
}

.cover-text p{
  font-size:20px;
  color:red;
}

.cover-text h1{
  font-size:40px;
}

div.nav ul li {
	width: 50%;
	font-size: 85%;
}



div.mobile-collapse {
	width: auto;
	float: none;
	margin-right: 0;

}

.hide-mobile {
	display: none;
}

.custom-row{
	  clear:both;
	  overflow: auto;
}


.hideme
{
    opacity:100;
}



}

	div.twenty-percent {
		width: 100%;
		float:left;
/*		border-style: solid;
	    border-width: 5px;
	    border-color: green;*/

	}
	div.eighty-percent{
		width :100%;
		float:left;
/*		border-style: solid;
	    border-width: 5px;
	    border-color: purple;*/
	}
}
		
∂